<div class="modal fade" id="modalcategory" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </br>
            </div>
            <div class="modal-body">
                <div class="control-group">
                <div class="control-label"><h3 class="panel-title">{{'category'|trans}}</h3></div>
                {{ form_widget(form.category) }}
                <a title="{{ 'edit a category' | trans }}" id="editCategory" style="display: none;" class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop', {'edit': 1} ) }}');"><i class="fa fa-pencil"></i></a>
                <a title="{{ 'drop category' | trans }}" id="linkedCategory" style="display: none;" class="btn btn-primary" id="lien_category_drop" onclick="dropCategory();"><i class="fa fa-trash-o"></i></a>
                </div>
                <div class="control-group">               
                <a title="{{ 'create a new category' | trans }}" id="addCategory" data-toggle="collapse" data-target="#newCategoryDiv" class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop') }}');"><i class="fa fa-plus"></i></a>               
                <div class="control-group collapse" id="newCategoryDiv">
                <h3 class="panel-title">Nouvelle catégorie</h3>
                <input class="form-control" type="text" required="required" id='category'/>
                </div>
               </div>
           </div>
                <div class="modal-footer">
                    <input type="hidden" value="{{ oldValueCat }}" id="oldValueCat" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                    <button type="submit" class="btn btn-primary" id="submit_category">{{ 'ok'|trans({}, 'platform') }}</button>

                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>
<script type="text/javascript">
     
    $("#submit_category").click(function () {
       // var id_cat = $("#ujm_exobundle_questiontype_category").val();
        var nom_cat = $("#ujm_exobundle_questiontype_category option:selected").text();
        alert(nom_cat);
        
        if (nom_cat == '' ) {
            alert('{{ 'wrongName'|trans }}');
            return false;
        }
        else{      
            alert('ici');
                $.ajax({
                    type: "POST",
                    url: "{{path('ujm_category_changeCat')}}",
                    data: {
                        value: nom_cat,
                        locker : '0'
                    },
                    cache: false,
                    success: function(data){
                        // ne rien faire
                        $("*[id$='_interaction_question_category']")
                            .append($('<option selected="selected" value="'+data+'"></option>')
                            .text(nom_cat));

                        $('#linkedCategory').css({"display" : "inline-block"});
                        $('#modalcategory').modal('hide');
                    }
                });
 /**           } else {
                // Id of the category to update
                var idOldCategory = $("*[id$='_interaction_question_category']").val();
                // New label of the category
                var newlabel = $('#category').val();
                $.ajax({
                    type: "POST",
                    url: "{{path('ujm_category_alter')}}",
                    data: {
                        newlabel: newlabel,
                        idOldCategory: idOldCategory
                    },
                    cache: false,
                    success: function (data) {
                        // Remove the old label from the list
                        $("*[id$='_interaction_question_category'] option[value=\""+idOldCategory+"\"]").remove();

                        // Add the new one to the list
                        $("*[id$='_interaction_question_category']")
                            .append($('<option selected="selected" value="'+data+'"></option>')
                            .text(newlabel));

                        // Hide the pop up to update the name
                        $('#modalcategory').modal('hide');
                    }
                });
            }*/
        }
    });

    $('#modalcategory').modal('toggle', 'show');
</script>
