{% extends "UJMExoBundle:Sequence:layout.html.twig" %}



{% block breadcrumb %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div data-ng-app="ExercisePlayerApp" data-ng-cloak="">
        <exercise-player class="player-container" data-current-step-index="{{ currentStepIndex }}" data-paper="{{ paper }}" data-exercise="{{ exercise }}" data-user="{{ user }}"></exercise-player>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/ujm-exo-player.js') }}"></script>
{% endblock %}
